<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="${msg}" }>this is static</h1>
<h1 th:utext="${user.name}" }>李四</h1>
<h1 th:text="${user.friend.name.split('')[0]}" }>王五</h1>
<!--静态字符串-->
<h2 th:text="欢迎您">xxx</h2>
<h2 th:text="|欢迎您,${user.name}|">xxx</h2>

<!--数字-->
<h2 th:text="20 + 10"></h2>
<h2 th:text="${user.age} + 20"></h2>
<h2 th:text="${user.age} > ${user.friend.age}"></h2>

<!--布尔-->
<h2 th:if="${user.age} > ${user.friend.age}" th:text="${user.name}"></h2>
<!--三元表达式简写-->
<h2 th:text="${user.name} ?:'硅谷刘德华'"></h2>

<!--th:object自动解包-->
<div th:object="${user}">
    <span th:text="*{name}"></span>
    <span th:text="*{friend.name}"></span>
</div>


<!--遍历-->
<table border="2px">
    <tr>
        <th>序号</th>
        <th>姓名</th>
        <th>年龄</th>
    </tr>
    <tr th:each="user,stat : ${users}" th:class="${stat.even} ? 'xxx' : 'yyy'">
        <td th:text="${stat.index+1}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
    </tr>
</table>

<!--switch-->
<h1 th:switch="${user.age}">
    <span th:case="18">青年</span>
    <span th:case="19">壮年</span>
    <span th:case="20">中年</span>
    <span th:case="21">老年</span>
    <span th:case="*">花甲之年</span>
</h1>
<!--href-->
<a th:href="'http://api.gmall.com/pms/brand/'+${brandId}">点我试试</a>
<a th:href="|http://api.gmall.com/pms/brand/${brandId}|">点我试试2</a>
<a th:href="@{|http://api.gmall.com/pms/brand/${brandId}|}">点我试试3</a>
<a th:href="@{http://api.gmall.com/pms/brand/{id} (id=${brandId})}">点我试试4</a>
<a th:href="@{http://api.gmall.com/pms/brand(pageNum=${pageNum},pageSize=${pageSize})}">点我试试5</a>

<hr>
<!--内置方法-->
<!--是否相等-->
<div th:text="${#strings.equals(msg,'hello')}"></div>
<!--是否包含，是查看索引-->
<div th:text="${#strings.indexOf(msg,'hello') >=0 }"></div>
<!--字符串截取 ,左包右不包，第一个参数是要截取的字符串，第二个参数是起始位置，第三个参数是终止位置-->
<div th:text="${#strings.substring(msg,2,5)}"></div>
<!--字符串替换-->
<div th:text="${#strings.replace(msg,'llo','abc')}"></div>


<!--数字格式化，第一参数是传递的数字，第二个参数是小数点前保留几位，第三个参数是小数点后保留几位-->
<!--19,000.00 以三位逗号分隔-->
<div th:text="${#numbers.formatDecimal(user.age,1,'COMMA',2,'POINT')}"></div>
<!--集合-->
<div th:if="${#lists.size(users)>0 and not #lists.isEmpty(users)}">xxx</div>
<!--时间日期格式化-->
<div th:text="${#dates.format(date,'yyyy-MM-dd')}"></div>

<hr>


<!--js内联-->
<script th:inline="javascript">

    let users = [[${users}]];
    let user = [[${user}]];
    let msg = [[${msg}]];
</script>


<hr>
<!--页面引入-->
<!--将内容引入过来-->
<div th:include="test::header" class="xxx"></div>
<!--将整个带fragment的div引入过来-->
<div th:insert="test::header" class="xxx"></div>
<!--将整个带fragment的div拷贝过来覆盖当前的div-->
<div th:replace="test::header" class="xxx"></div>



</body>
</html>